* { box-sizing: border-box; }

header {
	display: table;
	background: url("../imgs/cities.jpg");
	width: 100%;
	height: 300px;
	color: white;
	text-align: center;
	font-size: 30px;
	color: #f1c40f;
}
h1 {
	cursor: pointer;
}
.progress-bar {
	width: 0%;
}
.autocomplete {
	position: relative;
	display: inline-block;
}
input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
	margin: 0 auto;
}
input[type=button] {
	background-color: DodgerBlue;
	color: #fff;
}
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}
ul {
	box-sizing: content-box;
	float: right;
	list-style-type: none;
    min-height: 300px;
    max-height: 600px;
    border: 1px solid #ccc;
	margin-bottom: 100px;
    width: 350px;
    overflow-y: auto;

    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}
#endTest {
    float: right;
    box-sizing: initial;
    width: 370px;
	margin-top: 17px
}
li {
	width: 88%;
	height: 50px;
	background-color: #fff;
	color: darkorange;
    font-weight: bold;
    font-size: 20px;

	text-align: -moz-center;
	position: relative;
	margin-bottom: 25px;
    margin-top: 10px;
    padding: 15px 13px;

	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}
li button {
	float: right;
}
.remove{
    background: red;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	width: 20px;
	height: auto;
	color: white;
	font-weight: bold;
    font-size: 20px;
	float: right;
	cursor: pointer;
	text-align: center;
}
#area #time {
	color: darkorange;
}
#err {
    color: red;
}